@charset "utf-8";
/* CSS Document for Freelance Website */

body {
    background-color: #838383;
}

#wrapper {
    background-color: #D0D0D0;
    margin: auto;
    width: 1300px;
    -webkit-box-shadow: 5px 5px;
    box-shadow: 5px 5px;
}

#banner {
    margin: auto;
}

#globalnav {
    margin: auto;
    width: 850px;
    text-align: left;
    border-bottom-width: thin;
    border-bottom-color: #000000;
}

#content {
    margin: auto;
	width: 1225px;
}

#footer {
    margin: 25px;
	text-align: center;
}

#sideNavLeft {
    background-color: #191919;
    float: left;
    width: 200px;
    margin: 25px;
    -webkit-box-shadow: 5px 5px;
    box-shadow: 5px 5px;
}

p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
	text-decoration: underline;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;

}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    color: #FFFFFF;
	
}

h4 {
	font-family: 'Raleway', sans-serif;
	

}
td {
    text-align: center;
	font-family: 'Raleway', sans-serif;
}

ul {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.imgLeft {
	margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    float: left;
}

.imgLeftShadow {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    float: left;
    -webkit-box-shadow: 5px 5px #000000;
    box-shadow: 5px 5px #000000;
}

.imgRight {
    margin: 20;
    float: right;
}
.imgCenter {
    display: block;
	margin: auto;
	width: auto;
	
}
a:link {
    color: #000000;
	font-family: 'Raleway', sans-serif;
	
}
a:hover {
	color: #000000;
	font-family: 'Raleway', sans-serif;
}
a:visited {
	color: #000000;
	font-family: 'Raleway', sans-serif;
}
/* CSS for Nav */

ul.sonarmenu{ /* Inspired by http://tympanus.net/codrops/2013/08/06/creative-link-effects */
	list-style: none;
}

ul.sonarmenu li{
 display: inline;
 align: center;
}

ul.sonarmenu a{
	position: relative;
	display: inline-block;
	color: black; /* font color */
	text-decoration: none;
	margin: 30px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif; /* font style (uses Google fonts) */
	font-size: 22px; /* font size */
	letter-spacing: 2px; /* letter spacing */
	border-bottom: 2px solid transparent; /* Bottom border style */
	
}

ul.sonarmenu a:hover, ul.sonarmenu a:focus{
	outline: none;
	border-bottom: 2px solid #eee; /* Bottom border style on hover */
}

ul.sonarmenu a::before, ul.sonarmenu a:after{ /* shared style for two circles */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px; /* width of outer circle */
	height: 70px; /* height of outer circle */
	border: 12px double rgba(0,0,0,0.1); /* style and color of circles */
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

ul.sonarmenu a:after{ /* inner circle specific CSS */
	width: 60px; /* width of inner circle */
	height: 60px; /* width of inner circle */
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

ul.sonarmenu a:hover:before, ul.sonarmenu a:hover:after{
	-webkit-animation: pulsate 1.2s infinite; /* animation name duration loop etc */
	-moz-animation: pulsate 1.2s infinite;
	-ms-animation: pulsate 1.2s infinite;
	animation: pulsate 1.2s infinite;
}


/* ### Keyframe animations ### */

@-webkit-keyframes pulsate{

  30%{
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  }

	100%{
	opacity: 0.3;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.5);
	}

}

@-moz-keyframes pulsate{

  30%{
	opacity: 1;
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
  }

	100%{
	opacity: 0.3;
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.5);
	}

}

@-ms-keyframes pulsate{

  30%{
	opacity: 1;
	-ms-transform: translateX(-50%) translateY(-50%) scale(1);
  }

	100%{
	opacity: 0.3;
	-ms-transform: translateX(-50%) translateY(-50%) scale(0.5);
	}

}

@-keyframes pulsate{

  30%{
	opacity: 1;
	transform: translateX(-50%) translateY(-50%) scale(1);
  }

	100%{
	opacity: 0.3;
	transform: translateX(-50%) translateY(-50%) scale(0.5);
	}

}
