@charset "utf-8";
/* CSS Document for Freelance Website */

body {
    background-color: #838383;
}
#wrapper {
    background-color: #F4494C;
    margin: auto;
}
#banner {
    margin: auto;
}
#globalnav {
    background-color: #95FF7B;
    margin: auto;
    width: 1000px;
}
#content {
    margin: auto;
}
#footer {
    background-color: #8772F1;
}
